<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Parallel TestSuite" parallel="classes" thread-count="2">

	<test name="ChromeTest">
	<parameter name="browser" value="Chrome" />
		<classes>
			<class name="com.kugeci.LoginTest">
			</class>
			<class name="com.kugeci.WomenPageTests">
			</class>
		</classes>
	</test>


	
	<!--
	<test name="EdgeTest">
	<parameter name="browser" value="Edge" />
		<classes>
			<class name="com.kugeci.HomePageTest">
			</class>
		</classes>
	</test>
	-->
	
</suite>